<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Selector de Modelos ML</title>
    <link rel="stylesheet" th:href="@{/css/seleccion_parametros.css}" />
</head>
<body>
<h1>Selección de parámetros para los Modelos</h1>


<!-- SELECTOR DE TARGET  -->
<!--<form th:action="@{/setTarget}" method="post">-->
<!--    <label for="target">Target</label>-->
<!--    <select class="target_selector" name="target" id="target">-->
<!--        &lt;!&ndash; Opción por defecto &ndash;&gt;-->
<!--        <option value=""-->
<!--                th:selected="${target == null or target == ''}">-->
<!--            &#45;&#45; Seleccione la clase objetivo &#45;&#45;-->
<!--        </option>-->
<!--        &lt;!&ndash; Opciones dinámicas &ndash;&gt;-->
<!--        <option th:each="col : ${columnas}"-->
<!--                th:value="${col}"-->
<!--                th:text="${col}"-->
<!--                th:selected="${col == target}">-->
<!--        </option>-->
<!--    </select>-->
<!--&lt;!&ndash;    <button type="submit" id="selectButton" disabled>Seleccionar</button>&ndash;&gt;-->
<!--</form>-->

<!-- NAV DE PESTAÑAS -->
<nav class="tabs">
    <ul>
        <li class="active" data-model="rf">Random Forest</li>
        <li data-model="pr">Regresión Polinomial</li>
        <li data-model="st">Series Temporales</li>
    </ul>
</nav>

<form id="modelForm" th:action="@{/model/train}" method="post">

    <input type="hidden" id="modelTypeHidden" name="modelType" value="rf"/>

    <div id="model-form-rf" class="model-form"
         th:insert="~{seleccion_params/Random_forest :: rfForm}"></div>

    <div id="model-form-pr" class="model-form"
         th:insert="~{seleccion_params/Regresion_polinomial :: prForm}"></div>

    <div id="model-form-st" class="model-form"
         th:insert="~{seleccion_params/Series_temporales :: stForm}"></div>

    <button type="submit">Enviar parámetros</button>
</form>

<!-- scripts de tu lógica + pestañas -->
<script th:src="@{/js/parametros_modelo.js}"></script>
<script th:src="@{/js/RF_sparse_oblique.js}"></script>
<script th:src="@{/js/aniadir_capa.js}"></script>
</body>
</html>
