<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Entrenamiento completado</title>
    <link rel="stylesheet" th:href="@{/css/colores.css}"/>
    <link rel="stylesheet" th:href="@{/css/train_complete.css}" />
    <link rel="stylesheet" href="../css/cabecera.css" />
</head>
<body>

<!-- Inyectamos la cabecera (login/logout/eliminar/cambiar usuario) -->
<div th:replace="cabecera :: userBar"></div>

<h1>Entrenamiento completado!</h1>

<h2>Métricas del modelo</h2>
<table>
    <thead>
    <tr>
        <th>Métrica</th>
        <th>Valor</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="metrica : ${evaluaciones}" class="fila_tabla">
        <td th:text="${metrica.key}">Nombre de la métrica</td>
        <td th:text="${metrica.value}">Valor</td>
    </tr>
    </tbody>
</table>

<div>
    <button class="btn-home" >
        <a th:href="@{/}">Volver a inicio</a>
    </button>
    <button type="button" id="btnGuardar" class="btn-guardar">
        Guardar modelo
    </button>

</div>

<div id="modalOverlay">
    <div class="save-screen">
        <h1>Guardar Archivo</h1>
        <form th:action="@{/guardar}" method="post">
            <label for="file-name">Nombre del archivo sin extensión:</label>
            <input type="text" id="file-name" name="file_name" placeholder="Modelo_1" required>
            <button type="submit">Guardar</button>
        </form>
        <!-- Botón para cerrar el overlay sin guardar -->
        <a id="btnCerrar" class="cerrar-btn" th:href="train_complete">Cancelar</a>
    </div>
</div>

<script th:src="@{../js/guardar_modelo.js}"></script>

</body>
</html>
