<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Subir archivo CSV</title>
  <link rel="stylesheet" th:href="@{/css/colores.css}"/>
  <link rel="stylesheet" th:href="@{/css/upload.css}"/>
  <link rel="stylesheet" href="../css/cabecera.css" />
</head>
<body>

<!-- Inyectamos la cabecera (login/logout/eliminar/cambiar usuario) -->
<div th:replace="cabecera :: userBar"></div>

<div class="container">
  <h1>Sube tu CSV</h1>

  <form th:action="@{/upload}" method="post" enctype="multipart/form-data">
    <div class="drop-zone" id="dropZone">
      <p id="mensaje_upload">Arrastra y suelta tu archivo .csv aquí</p>
      <input type="file" id="file_upload" name="file" accept=".csv">
      <label for="file_upload">Seleccionar archivo</label>
      <div id="loadingSpinner" class="spinner hidden"></div>
    </div>

    <!-- Botón de subir alineado a la derecha -->
    <div class="submit-container">
      <button type="submit" class="subir-btn">Subir</button>
    </div>
  </form>



  <!-- Modal -->
<div id="modalOverlay" th:if="${message}">
  <div id="modalBox">
    <p th:text="${message}">Mensaje aquí</p>


    <div th:if="${success}">
      <img src="/imgs/tick_verde.png" alt="tick" class="imagen">
      <form th:action="@{/createDataset}" method="get">
        <button type="submit">Aceptar</button>
      </form>
    </div>

    <div th:if="${!success}">
      <img src="/imgs/cruz_error.png" alt="error" class="imagen">
      <form th:action="@{/upload}" method="get">
        <button type="submit">Aceptar</button>
      </form>
    </div>
  </div>
</div>

<script th:if="${message}">
  document.addEventListener('DOMContentLoaded', function() {
    const overlay = document.getElementById('modalOverlay');
    if (overlay) {
      overlay.style.display = 'flex';
    }
  });
</script>

<script th:src="@{/js/drag_drop.js}"></script>

</body>
</html>
