<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8" /><title>Subir archivo</title></head>
<body>
<h1>Sube tu CSV</h1>
<form th:action="@{/upload}" method="post" enctype="multipart/form-data">
  <input type="file" name="file" accept=".csv" required />
  <button type="submit">Subir</button>
</form>

<div th:if="${message}">
  <p th:text="${message}"></p>
</div>

<form th:action="@{/setTarget}" method="post">
  <label for="target" th:text="Target"></label>
  <select class="target_selector" name="target" id="target">
    <option value=""> Seleccione la clase objetivo</option>
    <option th:each="col : ${columnas}" th:value="${col}" th:text="${col}"></option>
  </select>
  <button type="submit">Seleccionar</button>
</form>



</body>
</html>
