<div th:fragment="rfForm" class="Form">
  <h2 class="titulo">Random Forest</h2>

  <label class="checkbox-label">
    <input type="checkbox" id="rf-estratificado" name="estratificado" value="true" />
    <span>estratificado</span>
  </label>


  <label for="rf-num-trees">num_trees:</label>
  <input type="number" id="rf-num-trees" name="num_trees" value="301" />

  <label for="rf-max-depth">max_depth:</label>
  <input type="number" id="rf-max-depth" name="max_depth" value="10" />

  <label for="rf-split-axis">split_axis:</label>
  <select id="rf-split-axis" name="split_axis">
    <option value="AXIS_ALIGNED">AXIS_ALIGNED</option>
    <option value="SPARSE_OBLIQUE" selected>SPARSE_OBLIQUE</option>
    <option value="MHLD_OBLIQUE">MHLD_OBLIQUE</option>
  </select>

  <div id="sparseNormContainer">
    <label for="rf-sparse-norm">sparse_oblique_normalization:</label>
    <select id="rf-sparse-norm" name="sparse_oblique_normalization">
      <option value="NONE">NONE</option>
      <option value="STANDARD_DEVIATION" selected>STANDARD_DEVIATION</option>
      <option value="MIN_MAX">MIN_MAX</option>
    </select>
  </div>

  <label for="rf-categorical-algo">categorical_algorithm:</label>
  <select id="rf-categorical-algo" name="categorical_algorithm">
    <option value="CART">CART</option>
    <option value="ONE_HOT">ONE_HOT</option>
    <option value="RANDOM" selected>RANDOM</option>
  </select>

  <label for="rf-missing-policy">missing_value_policy:</label>
  <select id="rf-missing-policy" name="missing_value_policy">
    <option value="GLOBAL_IMPUTATION">GLOBAL_IMPUTATION</option>
    <option value="LOCAL_IMPUTATION">LOCAL_IMPUTATION</option>
    <option value="RANDOM_LOCAL_IMPUTATION" selected>RANDOM_LOCAL_IMPUTATION</option>
  </select>


  <label class="checkbox-label">
    <input type="checkbox" id="rf-compute-oob" name="compute_oob_variable_importances" value="true"/>
    <span>compute_oob_variable_importances</span>
  </label>


  <label class="checkbox-label">
    <input type="checkbox" id="rf-winner-all" name="winner_take_all" value="true"/>
    <span>winner_take_all</span>
  </label>

</div>

